/* Styles de base */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f5e3;
    margin: 0;
    padding: 0 20px;
    color: #4e5d6d;
    padding-right: 25px;
}

/* Barre de navigation horizontale */
nav {
    background-color: #D2B48C;
    text-align: center;
    padding: 15px 0;
    border-bottom: 2px solid #AA7D42;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a i {
    margin-right: 8px;
    font-size: 1.5em;
}

nav ul li a:hover {
    background-color:  #AA7D42;
    color: #f4f4f9;
}

/* En-tête */
header {
    background-color: #D2B48C;
    color: white;
    text-align: center;
    padding: 40px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Section présentation du projet avec cadre */
#presentation {
    padding: 40px;
    text-align: left;
    background-color: #e9ecef;
    margin-bottom: 0; /* Supprimer la marge inférieure pour les coller */
}

.cadre {
    background-color: white;
    border: 2px solid #D2B48C;
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cadre h2 {
    color: #D2B48C;
    font-size: 2em;
}

.cadre p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.6;
}

/* Section équipe */
#equipe {
    padding: 40px;
    background-color: #f9f9f9;
    text-align: center;
    margin-bottom: 40px; 
}

#equipe h2 {
    color: #D2B48C; 
    font-size: 2em;
}

.membre {
    background-color: white;
    margin: 15px;
    padding: 25px;
    border-radius: 8px;
    display: inline-block;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.membre h3 {
    font-size: 1.5em;
    color: #D2B48C;
}

.membre p {
    font-size: 1em;
    color: #777;
}

.membre-icon {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

.membre img {
    width: 100%; 
    height: auto; 
    border-radius: 50%; 
    max-width: 250px; 
    margin-bottom: 15px; 
}

/* Section barre d'avancement */
#avancement {
    padding: 20px;
    background-color: #f4f4f9;
    text-align: center;
    margin-top: 0; /* Supprimer la marge supérieure pour les coller */
    padding-bottom: 60px; /* Garder l'espacement en bas pour ne pas chevaucher le footer */
}

#avancement p {
    font-size: 1.2em;
    color: #333;
    margin-top: 10px; /* Ajouter un espacement au-dessus du texte */
    margin-bottom: 20px; /* Ajuster le margin-bottom pour mieux espacer du footer */
}

.progress-bar-container {
    width: 80%;  
    margin: 0 auto;
    text-align: center;
}

.progress-bar {
    background-color: #e9ecef; 
    border-radius: 5px;
    height: 30px; 
    width: 100%;
    margin-bottom: 20px; 
}

.progress {
    background-color: #D2B48C; 
    height: 100%;
    border-radius: 5px;
}

/* Section Actualités */
#actualites {
    padding: 40px;
    background-color: #f9f9f9;
    text-align: center;
}
#actualites h2 {
    color: #D2B48C; /* Couleur principale */
    font-size: 2em;
    margin-bottom: 30px;
}
.actualite {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background-color: white;
    border: 2px solid #D2B48C;
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.actualite img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    margin-right: 20px;
}
.description {
    text-align: left;
}
.description p {
    font-size: 1.2em;
    color: #555;
}

/* Footer */
footer {
    text-align: left; /* Texte aligné à gauche */
    background-color: #AA7D42;
    color: white;
    padding: 5px 20px; /* Padding plus fin */
    font-size: 0.9em;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;  /* Utilisation de flexbox pour aligner les éléments */
    justify-content: space-between; /* Espacement entre les éléments à gauche et à droite */
    align-items: center;
    height: 40px; /* Hauteur réduite pour rendre le footer plus fin */
}

/* Logos dans le footer */
.logos {
    display: flex; /* Utilisation de flexbox pour aligner les logos */
    justify-content: flex-end; /* Alignement des logos à droite */
    gap: 10px; /* Espacement entre les logos */
    margin-right: 70px; /* Espacement à droite pour éviter que les logos ne soient coupés par la barre de défilement */
}

.logo {
    width: 25px; /* Taille plus petite pour les logos */
    height: auto;
}



