/* Styles de base */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f5e3;
    margin: 0;
    padding: 0;
    color: #4e5d6d;
}

/* Barre de navigation horizontale */
nav {
    background-color: #D2B48C; /* Couleur mise à jour */
    text-align: center;
    padding: 15px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a i {
    margin-right: 8px;
    font-size: 1.5em; /* Augmenter la taille de l'icône (1.5 fois la taille de base) */
}

nav ul li a:hover {
    background-color:  #AA7D42; /* Couleur survol mise à jour */
    color: #f4f4f9;
}

/* En-tête */
header {
    background-color: #D2B48C; /* Couleur mise à jour */
    color: white;
    text-align: center;
    padding: 40px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Section présentation du projet avec cadre */
#presentation {
    padding: 40px;
    text-align: center;
    background-color: #e9ecef;
}

.cadre {
    background-color: white;
    border: 2px solid #D2B48C; /* Bordure mise à jour */
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cadre h2 {
    color: #D2B48C; /* Couleur mise à jour */
    font-size: 2em;
}

.cadre p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.6;
}

/* Section équipe */
#equipe {
    padding: 40px;
    background-color: #f9f9f9;
    text-align: center;
}

#equipe h2 {
    color: #D2B48C; /* Couleur mise à jour */
    font-size: 2em;
}

.membre {
    background-color: white;
    margin: 15px;
    padding: 25px;
    border-radius: 8px;
    display: inline-block;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.membre h3 {
    font-size: 1.5em;
    color: #D2B48C; /* Couleur mise à jour */
}

.membre p {
    font-size: 1em;
    color: #777;
}

.membre-icon {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

.membre img {
    width: 100%; /* L'image occupe toute la largeur disponible de son conteneur */
    height: auto; /* Garde les proportions de l'image */
    border-radius: 50%; /* Pour arrondir les bords de l'image, si nécessaire */
    max-width: 250px; /* Limiter la taille maximale de l'image pour qu'elle ne soit pas trop grande */
    margin-bottom: 15px; /* Un peu d'espace sous l'image */
}

/* Section barre d'avancement */
#avancement {
    padding: 40px;
    background-color: #f4f4f9;
    text-align: center;
}

.progress-bar-container {
    width: 80%;  /* Ajuste la largeur de la barre d'avancement */
    margin: 0 auto;
    text-align: center;
}

.progress-bar {
    background-color: #e9ecef; /* Couleur de fond de la barre */
    border-radius: 5px;
    height: 30px; /* Hauteur de la barre */
    width: 100%;
    margin-bottom: 10px;
}

.progress {
    background-color: #D2B48C; /* Couleur de la barre */
    height: 100%;
    border-radius: 5px;
}

#avancement p {
    font-size: 1.2em;
    color: #333;
}

/* Footer */
footer {
    text-align: center;
    background-color: #AA7D42;
    color: white;
    padding: 5px 0;
    font-size: 0.9em;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logos {
    display: flex;
    justify-content: flex-end; /* Aligner les logos à droite */
    gap: 20px; /* Espacement entre les logos */
}

.logo {
    width: 30px; /* Taille plus petite pour les logos */
    height: auto; /* Garder la proportion */
}



