/* Styles de base */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Barre de navigation horizontale */
nav {
    background-color: #00A38E; /* Couleur mise à jour */
    text-align: center;
    padding: 15px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a i {
    margin-right: 8px;
}

nav ul li a:hover {
    background-color: #008774; /* Couleur survol mise à jour */
    color: #f4f4f9;
}

/* En-tête */
header {
    background-color: #00A38E; /* Couleur mise à jour */
    color: white;
    text-align: center;
    padding: 40px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Section présentation du projet avec cadre */
#presentation {
    padding: 40px;
    text-align: center;
    background-color: #e9ecef;
}

.cadre {
    background-color: white;
    border: 2px solid #00A38E; /* Bordure mise à jour */
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cadre h2 {
    color: #00A38E; /* Couleur mise à jour */
    font-size: 2em;
}

.cadre p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.6;
}

/* Section équipe */
#equipe {
    padding: 40px;
    background-color: #f9f9f9;
    text-align: center;
}

#equipe h2 {
    color: #00A38E; /* Couleur mise à jour */
    font-size: 2em;
}

.membre {
    background-color: white;
    margin: 15px;
    padding: 25px;
    border-radius: 8px;
    display: inline-block;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.membre h3 {
    font-size: 1.5em;
    color: #00A38E; /* Couleur mise à jour */
}

.membre p {
    font-size: 1em;
    color: #777;
}

/* Footer */
footer {
    text-align: center;
    background-color: #00A38E; /* Couleur mise à jour */
    color: white;
    padding: 3px 0; /* Réduction de l'espace vertical */
    font-size: 0.9em; /* Taille de police plus petite pour rendre la barre plus discrète */
    position: fixed;
    width: 100%;
    bottom: 0;
}

